hr {
    margin: 10px;
    border: $border;
}

.text-center{
    margin: 10px;
}

.textoNosotros{
    color: white;
    padding: 2px;
    margin: 10px;
}

.textoNosotros--titulo{
    @extend .textoNosotros;
    font-weight: bold;
    font-size: larger;
    text-decoration: underline;
}

.infoTitulares{
    background-color: $fourth;
    border-radius: 50px;
}

.galeriaContacto{
    display: flex;
}